{% extends 'public/template.html' %}
{#================================================================================
	Item Name: alteracao_saldo_devedor_sucesso.html
	Version: 0.1
	Author: benhur
	benhur.azevedo@caixa.gov.br
  ================================================================================#}

  {% block title %}Confirmar Apagar Post{% endblock %}

  {% block head %}{% endblock %}

  {% block content %}
    <div class="card">
      <div class="card-header text-white bg-primary">
        <h2>Apagar Post</h2>
      </div>
      <div class="card-body">
        {{ include ('public/detalhesPost.html') }}
        <form method='post' action="/apagarpost">
          <input type="hidden" name="id" value="{{ post.getId() }}">
          <p>Deseja realmente apagar este post?</p>
          <p><a class="btn btn-success" href="/visualizarblog/{{ post.getId() }}">Não</a>&nbsp;<input class="btn btn-danger" type="submit" value="sim"></p>
        </form>
      </div>
      
      <div class="card-footer bg-primary">
        <a href="/listarblog" class="btn btn-light">Voltar</a>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block tail %} {% endblock %}