{% extends 'public/template.html' %}
{#================================================================================
	Item Name: alteracao_saldo_devedor_sucesso.html
	Version: 0.1
	Author: benhur
	benhur.azevedo@caixa.gov.br
  ================================================================================#}

  {% block title %}mensagem{% endblock %}

  {% block head %}{% endblock %}

  {% block content %}
  <div class="card">
    <div class="card-header text-white bg-primary">
      <h2>Mensagem do Site</h2>
    </div>
    <div class="card-body">
      Post gravado com sucesso!
    </div>
    <div class="card-footer bg-primary">
      <a href="/listarblog" class="btn btn-light">Voltar</a>
    </div>
  </div>
  {% endblock %}

  {% block tail %} {% endblock %}

