{% extends 'public/template.html' %}
{#================================================================================
	Item Name: alteracao_saldo_devedor_sucesso.html
	Version: 0.1
	Author: benhur
	benhur.azevedo@caixa.gov.br
  ================================================================================#}

  {% block title %}Visualizar Post{% endblock %}

  {% block head %}{% endblock %}

  {% block content %}
  
  <div class="card">
    <div class="card-header text-white bg-primary">
      <h2>Visualizar Post</h2>
    </div>
    <div class="card-body">
      {{ include ('public/detalhesPost.html') }}
      <p><a class="btn btn-danger" href="/confirmarapagarblog/{{ post.getId() }}">Apagar</a>&nbsp;<a class="btn btn-primary" href="alterarblog/{{ post.getId() }}">Editar</a>&nbsp;</p>
      {{ include ('public/comentarios.html')}}
    </div>
    <div class="card-footer bg-primary">
      <a href="/listarblog" class="btn btn-light">Voltar</a>
    </div>
  </div>
  {% endblock %}

  {% block tail %} {% endblock %}