<section>
    {% if flash.getMessage("comentarioErrado")[0] == "sim" %}
        <p style="color: red;">
            Favor preencher:
            <ul>
                <li>Comentario</li>
            </ul>
        </p>
    {% endif %}
    <form method="post" action="\gravarcomentario">
        <input type="hidden" name="postId" value="{{ post.getId() }}">
        <label for="comentario">Escreva um comentario</label>
        <textarea id="comentario" name="comentario" rows="2" style="width: 100%;"></textarea>
        <input type="submit" class="btn btn-success" value="enviar">
        <br><br>
    </form>
    <div>
        <ul class="list-group">
            {% for comentario in post.getComentarios().toArray() %}
                <li class="list-group-item">{{ comentario.getComentario() }}</li>
            {% endfor %}
        </ul>
    </div>
</section>